<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <link rel="icon" href="https://cdn.discordapp.com/avatars/810526674025316412/01feb2f2199004dfc9d83bb187fdb77a.webp?size=128"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <title>SmartBot V2</title>
    <link rel="canonical" href="https://smartbot.co.in/" />
    <meta name="SmartBot V2" content="SmartBot is all in one bot. It has features such has giveaways, custom commands, logs, leveling, invites and much more!" />
    <meta name="robots" content="index,follow" />
    <meta property="og:title" content="SmartBot V2!" />
    <meta property="og:type" content="web" />
    <meta property="og:url" content="https://smartbot.co.in/" />
    <meta property="og:description" content="SmartBot is all in one bot. It has features such has giveaways, custom commands, logs, leveling, invites and much more!" />
    <meta property="og:image" content="https://cdn.discordapp.com/avatars/810526674025316412/01feb2f2199004dfc9d83bb187fdb77a.webp?size=128"/>
    <meta name="twitter:card" content="summary" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Quicksand:wght@300&family=Rajdhani:wght@500&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/style.css" />
  </head>
