<%- include('header')-%>
<body>
  <%- include('navbar')-%>
    <div class="divider"></div>
    <div class="containter">
      <div class="d-flex justify-content-center">
        <div class="box1" role="main">
          <h1 class="title fw-bold display-1">SmartBot V2</h1>
          <img
            src="https://cdn.discordapp.com/avatars/810526674025316412/01feb2f2199004dfc9d83bb187fdb77a.webp?size=128"
            class="illustration"
          />
        </div>
      </div>
    </div>
    <div style="padding-top: 50px"></div>
    <div>
      <span id="guildnum"> </span>
    </div>
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="col"></div>
        <a href="https://smartbot.co.in/invite"><button class="button-invite" role="button"><span class="text">Invite Me!</span></button></a>
        <div class="col-1"></div> 
        <a href="https://smartbot.co.in/support"><button class="button-invite" role="button"><span class="text">Support</span></button></a>
        <div class="col"></div>
      </div>
    </div>
    <div style="padding-top: 120px"></div>
    <div class="containter text-center">
      <div class="row justify-content-center gx-0">
        <div class="box2 col-lg-3 col-xs-12">
          <div class="minibox">
            <h1 class="display-6">Smart <i class="bi bi-tools"></i></h1>
            <p>
              SmartBot has the potential to replace all the bots in your server.
              It provides and all-in-one experience with quality features you
              expect from a premuim bot while running 24/7 ensuring 99.99%
              uptime.
            </p>
          </div>
        </div>
        <div class="box2 col-lg-3 col-xs-12">
          <div class="minibox">
            <h1 class="display-6">Fast <i class="bi bi-speedometer"></i></h1>
            <p>
              SmartBot is never slow! We run our bot on incredibly powerful
              hardware so you don't have to worry about any lag. It has blazing
              fast response times with minimal to no lag with a guaranteed &#60 250ms
              ping.
            </p>
          </div>
        </div>
        <div class="box2 col-lg-3 col-xs-12">
          <div class="minibox">
            <h1 class="display-6">Secure <i class="bi bi-shield-lock"></i></h1>
            <p>
              SmartBot is very secure. Our amazing devs put in a lot of hardwork
              to iron out any bugs and possible exploits. We use a secure host
              ensuring no dataloss or possibily of the bot getting compromised.
            </p>
          </div>
        </div>
      </div>
    </div>
<%- include('footer')-%>