<%- include('header')-%>
  <body>
    <%- include('navbar')-%>
    <div class="divider"></div>
    <div class="containter">
      <div class="d-flex justify-content-center">
        <div class="box1" role="main">
          <h1 class="title fw-bold display-1">Terms of Service</h1>
        </div>
      </div>
    </div>

    <div style="padding-top: 120px"></div>
    <div class="containter text-center">
      <div class="row justify-content-center gx-0">
        <div class="box2 col-lg-4 col-xs-12">
          <div class="minibox">
            <h1 class="display-5">Website</h1>
            <p>
              There are no restrictions for Users in terms of being Consumers or
              Business Users.
              <br />
              <br />
              Users must be older than 13.
              <br />
              <br />
              Minors may only use this Website under parental or adult
              supervision.
            </p>
          </div>
        </div>
        <div class="box2 col-lg-4 col-xs-12">
          <div class="minibox">
            <h1 class="display-5">Discord</h1>
            <p>
              You must follow
              <a href="https://discord.com/terms">Discord's ToS</a> while using
              the bot. <br />
              <br />
              Users must be older than 13.
              <br />
              <br />
              Commands should not be spammed or used in abusive ways, any bugs
              or exploits found must be reported to the developers.
            </p>
          </div>
        </div>
      </div>
    </div>
<%- include('footer')-%>