<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand title" href="/"> 
      SmartBot V2
      <img class="img-fluid" width="45vh" src="/static/128_logo.webp"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/invite" target="_blank">Invite</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/support" target="_blank">Support</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="https://docs.smartbot.co.in/questions/smart-bot-faq" target="_blank">F.A.Q</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/terms">Terms of Service</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/privacy">Privacy</a></li>
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="https://docs.smartbot.co.in" target="_blank">Documentation</a></li>
      </ul>
    </div>
  </div>
</nav>  