{%- include "header.html" %}
<body>
  {%- include "navbar.html" %}
    <div class="divider"></div>
    <div class="containter">
      <div class="d-flex justify-content-center">
        <div class="box1" role="main">
          <h1 class="title fw-bold display-1">Privacy Policy</h1>
        </div>
      </div>
    </div>

    <div style="padding-top: 120px"></div>
    <div class="containter text-center">
      <div class="row justify-content-center gx-0">
        <div class="box2 col-lg-8 col-xs-12">
          <div class="minibox">
            <h1 class="display-5">Welcome to SmartBot!</h1>
            <p>
              SmartBot is an All in One Moderation bot that has a variety of
              features including moderation, management, giveaways, reaction
              roles, customized welcome and goodbye messages, server logging,
              invite logs, leveling and ranks, counting, and much more. This
              Privacy Policy sets forth our policy with respect to information
              that is collected from visitors to the Site and users of the App
              and/or the Services.
            </p>
          </div>
        </div>
        <div class="box2 col-lg-8 col-xs-12">
          <div class="minibox">
            <h1 class="display-5">Information we collect</h1>
            <p>
              When you interact with us through the Services, we may collect
              information from you, as further described below: Information You
              Provide: We collect information from you when you voluntarily
              provide such information, such as when You/Guild admin executes
              commands on the bot. We store data for giveaways, reaction roles,
              welcome and leave, logging, and leveling. For welcome, leave, and
              logging we store the guild IDs and channel IDs. For giveaways, we
              store the Message IDs as well. For reaction roles, we store the
              Role IDs. For leveling, we store the user IDs. Message Content:
              Some guilds may use the server logging feature of the SmartBot.
              This sends message content to a private logging channel when you
              delete and edit your message. Users can know if the server logs
              their messages by typing "/serverinfo". They may
              opt-out to leave the server if they don't want their messages to
              be logged if it is enabled.
            </p>
          </div>
        </div>
        <div class="box2 col-lg-8 col-xs-12">
          <div class="minibox">
            <h1 class="display-5">Data deletion request</h1>
            <p>
              Users can get the data removed/deleted on the server through the
              following procedures: Guild admins can delete the data we store
              for counting, leveling, welcome, leave, logging, etc. by commands
              such as "/counting disable" or "/leveling disable". The giveaway
              data automatically gets deleted as soon as the giveaway ends. They
              can join our support server to request complete data deletion of
              the guild.
            </p>
          </div>
        </div>
        <div class="box2 col-lg-8 col-xs-12">
          <div class="minibox">
            <h1 class="display-5">Website data collection</h1>
            <p>
              SmartBot's Website collects information such as: pages you visit in the domain <a href="https://smartbot.co.in/ ">smartbot.co.in</a>. Your IP address, your region and device information. We collect these information for analysis purpose. The documentation page may collect some information, please refer to <a href="https://policies.gitbook.com/privacy/">Gitbook's privacy policy.</a>
            </p>
          </div>
        </div>
      </div>
    </div>
{%- include "footer.html" %}
